@import "tailwindcss";

@theme {
  --color-brand-50: #f0f9ff;
  --color-brand-400: #38bdf8;
  --color-brand-600: #0284c7;
  --color-brand-900: #0c4a6e;
}

/* Global Dark Theme Reset */
body {
  @apply bg-slate-900 text-white antialiased;
}
